<div class="text-center my-text-color">
    <h1>Welcome to my web application! <br>
        Powered by Angular, Node.js and continuous deployment! <br>
    </h1>
    <h5 class="my-text-color">
        <ul>
            <li class="d-flex justify-content-center">CI/CD enabled</li>
            <li class="d-flex justify-content-center">Always up-to-date from GitHub</li>
            <li class="d-flex justify-content-center">Deployed in seconds after every change</li>
        </ul>
    </h5>

</div>
<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link my-text-color" id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#pills-about"
            role="tab" aria-controls="pills-about" aria-selected="true">About me</button>
    </li>
    <li class="nav-item" role="presentation">
        <button mat-button (click)="typeWriter()" class="nav-link my-text-color" id="pills-profile-tab"
            data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab" aria-controls="pills-profile"
            aria-selected="false">My
            profile</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link my-text-color" id="pills-email-tab" data-bs-toggle="pill" data-bs-target="#pills-email"
            role="tab" aria-controls="pills-email" aria-selected="false">E-mail me</button>
    </li>
</ul>
<div class="tab-content text-center text-warning" id="pills-tabContent">
    <div class="tab-pane fade show " id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
        <h4 class="fadeInAnimated" id="first"> Hello! </h4>

        <h4 class="fadeInAnimated" id="second">I'm Petar</h4>
        <h4 class="fadeInAnimated" id="third">I'm a Full-Stack Web Developer</h4>
    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <p class="demo"></p>
    </div>

    <div class="tab-pane fade pt-5 " id="pills-email" role="tabpanel" aria-labelledby="pills-email-tab">
        <a class="text-warning" href="mailto:petar@gutov.net">
            <h4>petar&#64;gutov.net</h4>
        </a>
    </div>
</div>